/* CSS Style Sheet */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    cursor: pointer;
}

html {
    box-sizing: border-box;
}

/* Responsive Header */
@media (max-width: 1050px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
    }
}

.header {
    display: flex;
    width: 100%;
}

div {
    display: block;
    unicode-bidi: isolate;
}


@media (max-width: 1050px) {
    .logo {
        display: flex;
        justify-content: center;
        margin: 1em 0;
        width: 100%;
    }
}

.logo {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 5em;
    width: 40%;
    unicode-bidi: isolate;
}

@media (max-width: 1050px) {
    .logo img {
        width: 75%;
    }
}

.logo img {
    height: auto;
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* Navigation bar */
@media (max-width: 1050px) {
    .navigation {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
    }
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4em;
    margin-top: 1em;
    text-align: center;
    width: 60%;
    unicode-bidi: isolate;
}

ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.navigation li {
    color: #000;
    display: inline-block;
    margin: 1em;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.navigation ul li a {
    color: #000;
    font-family: Karla, sans-serif;
    font-weight: 800;
    list-style: none;
    text-decoration: none;
}

.navigation ul li a:hover {
    color: #000;
    text-decoration: underline;
}

/* main section styling */

@media (max-width: 800px) {
    .main {
        height: auto;
        justify-content: center;
        text-align: center;
    }
}

.main {
    background-color: #495e57;
    display: flex;
    height: 420px;
    margin-top: 2em;
    width: 100%;
    unicode-bidi: isolate;
}

@media (max-width: 800px) {
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 2em;
        width: 100%;
    }
}

.main-content {
    margin-left: 7em;
    margin-right: 5em;
    width: 40%;
}

h1,
h2 {
    font-family: Markazi Text, serif;
}

h1 {
    color: #f4ce14;
    font-size: 60px;
    font-weight: 700;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.main-content h1 {
    color: #f4ce14;
    font-weight: 700;
    display: block;
    font-size: 60px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h2 {
    color: #fff;
    font-size: 30px;
    margin-top: -1.5em;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

@media (max-width: 800px) {
    .main-content p {
        text-align: center;
        width: 95%;
    }
}

.main-content p {
    color: #fff;
    font-family: Karla, sans-serif;
    font-size: 22px;
    width: 350px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

#button {
    background-color: #f4ce14;
    border: none;
    border-radius: 2em;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
    color: #000;
    font-family: Karla, sans-serif;
    font-size: 18px;
    font-weight: 800;
    height: 3em;
    margin: 1em;
    width: 12em;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

@media (max-width: 800px) {
    .featured {
        display: none;
    }
}

.featured {
    width: 50%;
}

.featured img {
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
    height: 500px;
    margin-left: 6em;
    margin-top: 2em;
    width: 60%;
}

.specials,
.specials-head {
    display: flex;
    height: auto;
    justify-content: center;
}

.specials-head {
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .specials-head > h3 {
        font-size: 60px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1em;
    }
}

.specials-head > h3 {
    color: #000;
    font-family: Markazi Text, serif;
    font-size: 60px;
    margin: 1em 5em 1em 1em;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.specials #button {
    margin-top: 4em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;
    margin-top: 1em;
    width: 100%;
}

element.style {
    width: 18rem;
}

.card {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -4em;
}

.card-img-top {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: 5px 10px 20px #ccc;
    margin-bottom: -.2em;
    margin-top: 8em;
    width: 95%;
}

/* Testimonials */
.testimonials {
    background-color: #495e57;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

.testimonial-header {
    color: #f4ce14;
    font-family: Markazi Text, serif;
    font-size: 60px;
    font-weight: 700;
    width: 100%;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    width: 100%;
}

.review {
    background-color: #fff;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
    height: 250px;
    margin: 2em;
    width: 250px;
}

#rating {
    display: block;
    margin: 10px auto;
    width: 50%;
}

/* #rating > img {
    height: 5%;
    width: 5%;
} */

#profile {
    border-radius: 50%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
    margin: 1em;
    width: 30%;
}

#profile {
    position: relative;
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

.review h2 {
    color: #000;
    font-family: Markazi Text, serif;
    font-size: 25px;
    margin: .1em;
    text-align: center;
}

@media (max-width: 1050px) {
    .review p {
        margin: 1em;
    }
}

.review p {
    font-family: Karla, sans-serif;
    /* padding-bottom: 1em; */
}

@media (max-width: 800px) {
    .about {
        flex-wrap: wrap;
    }
}

.about {
    display: flex;
    height: auto;
    padding: 3em 0;
    width: 100%;
    unicode-bidi: isolate;
}

@media (max-width: 800px) {
    .about-content {
        width: 100%;
    }
}

.about-content {
    margin-left: 7em;
    margin-right: 5em;
    width: 40%;
    display: block;
    unicode-bidi: isolate
}

h4 {
    font-size: 60px;
    font-weight: 700;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h4 {
    font-size: 60px;
    font-weight: 700;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h5 {
    font-size: 30px;
    margin-top: -2.5em;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

@media (max-width: 1050px) {
    .about-content p {
        font-size: 16px;
    }
}

.about-content p {
    color: #000;
    font-family: Karla, sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    margin-top: -1em;
}

/* Owners */
@media (max-width: 800px) {
    .owners {
        margin: 3em;
        width: 100%;
    }
}

.owners {
    width: 50%;
    display: block;
    unicode-bidi: isolate;
}

#chefs,
#restaurant {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
    height: 60%;
}

#chefs {
    margin-left: 10em;
    margin-top: 1em;
    width: 30%;
    height: 40%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

#restaurant {
    margin-left: 2em;
    margin-top: -10em;
    width: 40%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

@media (max-width: 800px) {
    .footer {
        flex-wrap: wrap;
        text-align: center;
    }
}

.footer {
    border-top: 10px groove #495e57;
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
}

@media (max-width: 800px) {
    .one {
        margin: 10px;
    }
}

@media (max-width: 800px) {

    .four,
    .one,
    .three,
    .two {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.one {
    display: flex;
    margin-right: 2em;
    width: 20%;
}

ul {
    list-style: none;
}

.footer ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    list-style: none;
}

.footer li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.footer ul li a {
    color: #000;
    font-family: Karla, sans-serif;
    font-weight: 800;
    list-style: none;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .footer img {
        margin: 0;
        width: 50%;
    }
}

.footer img {
    width: 100%;
}

@media (max-width: 800px) {

    .four,
    .one,
    .three,
    .two {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.four,
.three,
.two {
    margin: 7em 1em 1em;
    width: 20%;
}

@media (max-width: 800px) {
    .footer {
        flex-wrap: wrap;
        text-align: center;
    }
}